:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: #5D54A3;
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--red);
    background-image: url(../images/bg-intro-mobile.png);
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-weight: 400;
}

p{
    color: #eee;
}

.big-text{
    font-weight: 700;
    font-size: 2rem;
}

.container{
    max-width: 70%;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

form{
    background: #fff;
    padding: 40px 10px;
    border-radius: 4px;
    margin: auto auto 50px;
}

input{
    margin: 0;
    font-family: inherit;
    font-size: small;
}

.form-group{
    margin: 0 auto 8px auto;
}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    color: var(--dark-blue);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eee;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.claim-button {
    background: var(--green);
    text-transform: uppercase;
    color: #fff;
    border: none;
    margin-bottom: 30px;
   
}

.trail-button {
    background: var(--blue);
    color: #fff;
    border: none;
   margin-top: 20px;
   
}

.para{
    color: var(--grayish-blue);
    font-size: 0.75rem;
}

.trail-button, .claim-button{
    font-size: inherit;
}

.red-text{
    color: red;
}


@media (min-width: 768px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }

    .text-box{
        width: 400px;
        margin-top: 150px;
        background-image: url(../images/bg-intro-desktop.png);
    }
}

@media (max-width: 500px) {
    .trail-button{
        font-size: 12px;
    }
}
